body {
    font-size: 20px;
    padding: 10px;
}
html, body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

.item {
    text-align: center;
}

#itemHeader {
    background-color: rgb(56, 235, 255);
    padding: 40px;
}

#itemNav {
    background-color: rgb(50, 102, 197);
    padding: 40px;
}

#itemMain {
    background-color: rgb(219, 167, 226);
    padding: 120px;
}

#itemAside {
    background-color: rgb(200, 91, 233);
    padding: 120px;
}

#itemFooter {
    background-color: rgb(255, 121, 121);
    padding: 40px;
}



@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas:
            "header header"
            "nav main"
            "nav aside"
            "footer footer";
    }

    #itemHeader {
        grid-area: header;
    }

    #itemNav {
        grid-area: nav;
    }

    #itemMain {
        grid-area: main;
    }

    #itemAside {
        grid-area: aside;
    }

    #itemFooter {
        grid-area: footer;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header"
            "nav main aside"
            "footer footer footer";
    }
}
