* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
}

/* Colores para distinguir secciones */
header {
  background: #0d1b2a;
  color: white;
  text-align: center;
}

nav {
  background: #e63946;
  color: white;
  text-align: center;
}

.hero {
  background: #457b9d;
  color: white;
  text-align: center;
}

main {
  background: #1d3557;
  color: white;
  text-align: center;
}

aside {
  background: #f1c40f;
  text-align: center;
}

.extra {
  background: #2a9d8f;
  color: white;
  text-align: center;
}

.image {
  background: #a8dadc;
  text-align: center;
}

/* ============ MÓVIL ============ */
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

/* ============ TABLET ============ */
@media (min-width: 810px) and (max-width: 1439px) {
    body{
        flex-direction: row;
        text-align: center;
    }

   header {
    order: 0;
    flex: 0 0 100%;
    padding: 1em;
  }

  .hero {
    order: 1;
    flex: 0 0 100%;
    padding: 4em;
  }

  nav {
    order: 2;
    flex: 0 0 14%;
  }

  div {
    order: 3;
    flex: 0 0 86%;
    display: flex;
    flex-wrap: wrap;
  }

  }
  main {
    order: 0;
    flex: 0 0 100%;
    padding: 4em;
  }

  aside {
    order: 1;
    flex: 0 0 100%;
  }

    .extra {
        order: 2;
        flex: 0 0 70%
    }

    .image {
        order: 3;
        flex: 0 0 30%
    }

/* ============ DESKTOP ============ */
/* @media (min-width: 1440px) {
    body{
        flex-direction: row;
        text-align: center;
    }
  }

   header {
    order: 0;
    flex: 0 0 20%;
    padding: 1em;
  }

  nav {
    order: 1;
    flex: 0 0 80%;
    padding: 1em
  }

  .hero {
    order: 2;
    flex: 0 0 100%;
    padding: 4em;
  }

div {
    order: 3;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
  }

  main {
    order: 0;
    flex: 0 0 50%;
    padding: 4em;
    margin-right: 30%;
  }

  .extra {
    order: 1;
    flex: 0 0 20%;
  }

  .image {
    order: 2;
    flex: 0 0 25%;
  }

  aside {
    order: 3;
    flex: 0 0 100%;
    padding: 1em;
  } */