input, button {
    margin: 10px 0;
}

body {
    display: flex;
    flex-direction: column; /*Cambia a columna en lugar de fila*/
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.layout {
    display: flex; /*Para que los items se alineen en una sola fila*/
    min-height: 100vh;

}

.menu {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: left;
}

.menu ul {
    list-style: none; /*Para quitarle los símbolos de lista*/
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: white;
    text-decoration: none; /*Para quitar las líneas de abajo*/
    padding: 10px 20px;
    display: block; /*Para que el área clickeable sea todo el bloque del enlace*/
}

.menu a:hover {
    background-color: #575757;
}


.menu.visible ~ main {
    margin-left: 200px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button:hover {
    background-color: #0056b3;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

form {
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

