/* --- CONTENEDOR --- */
#animacion-cielo {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;

    animation: ciclo-cielo 40s linear infinite;
}

/* --- ANIMACIÓN del cielo --- */

@keyframes ciclo-cielo {
    /* Noche profunda */
    0%   { background: #00112B; }

    /* amanecer */
    3%  { background: #dd9436; }
    
    /* después del amanecer */
    10%  { background: #88E6F9; }

    /* día */
    30%  { background: #64c7db; }

    /* atardecer */
    50%  { background: #9b5301; }

    /* anochecer */
    60%  { background: #00112B; }

    /* noche */
    90%  { background: #003355; }

    /* Vuelve a la noche profunda */
    100% { background: #00112B; }
}



/* --- ELEMENTOS --- */
#sol, #luna, #nube1, #nube2, #nube3, #nube4 {
    position: absolute;
    pointer-events: none;
}

/* SOL */
#sol {
    width: 120px;
    position: absolute;
    opacity: 0;
    animation: mover-sol 40s linear infinite;
}

@keyframes mover-sol {
    0%   { transform: translate(-150px,200px); opacity: 0; }
    5%   { opacity: 1; }
    25%  { transform: translate(50vw,20px); opacity: 1; }
    45%  { opacity: 1; }
    50%  { transform: translate(100vw,200px); opacity: 0; }
    100% { opacity: 0; }
}

/* LUNA */
#luna {
    width: 110px;
    position: absolute;
    opacity: 0;
    animation: mover-luna 40s linear infinite;
}

@keyframes mover-luna {
    0%   { opacity: 0; }
    50%  { transform: translate(-150px,200px); opacity: 0; }
    55%  { opacity: 1; }
    75%  { transform: translate(50vw,40px); opacity: 1; }
    95%  { opacity: 1; }
    100% { transform: translate(100vw,200px); opacity: 0; }
}

/* NUBES */

#nube1, #nube2, #nube3, #nube4 {
    width: 200px;
}

#nube1 {
    top: 40px;
    animation: mover-nube1 32s linear infinite;
}
@keyframes mover-nube1 {
    from { transform: translateX(-300px); }
    to   { transform: translateX(110vw); }
}

#nube2 {
    top: 90px;
    animation: mover-nube2 38s linear infinite;
    animation-delay: -10s;
}
@keyframes mover-nube2 {
    from { transform: translateX(-400px); }
    to   { transform: translateX(110vw); }
}

#nube3 {
    top: 150px;
    animation: mover-nube3 34s linear infinite;
    animation-delay: -20s;
}
@keyframes mover-nube3 {
    from { transform: translateX(-350px); }
    to   { transform: translateX(110vw); }
}

#nube4 {
    top: 220px;
    animation: mover-nube4 40s linear infinite;
    animation-delay: -5s;
}
@keyframes mover-nube4 {
    from { transform: translateX(-320px); }
    to   { transform: translateX(110vw); }
}
