body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    background-color: rgb(40, 40, 40);
}

a{
    text-decoration: none;
    color: inherit;
}

header button, .boton-carrusel {
    border-radius: 30px;
    border: none;
    padding: 10px;
    background-color: rgb(250, 129, 0);
    color: white;
    font-size: 15px;
}

/* ---- MENÚ ----- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color:white;

    padding-left: 5%;
    padding-right: 5%;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 30px;
}

/* ---- CARRUSEL ---- */
.carrusel-wrapper {
    position: relative; 
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item-carrusel {
    width: 100%;
    flex-shrink: 0;
}

.item-carrusel img {
    width: 100%;
    height: 100%;
}

.prev-button,.next-button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    padding: 10px;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.boton-carrusel {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
}

/* ---- SECCIÓN DE PELÍCULAS ---- */
section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;

    background-color: rgb(54, 54, 54);
    color: white;
}

.fila-carteles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.cartel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: auto;
    position: relative;
    min-height: 300px;
}

.cartel img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartel p {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0; 
    margin: 0;
}

/* ---- FOOTER ---- */
footer {
    padding-top: 10px;
    padding: 20px;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    color: white;
    background-color: rgb(40, 40, 40);
}

#item-1 {
    text-align: left;
}

#item-1 i {
    font-size: 30px;
    padding: 10px;
}

#item-2 {
    text-align: right;
}

/* ---- PALETA DE COLORES ----
rgb(40, 40, 40) (gris oscuro)
rgb(54, 54, 54) (gris medio)
rgba(0, 0, 0, 0.8) (negro con transparencia)
rgb(250, 129, 0) (naranja)