body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    background-color: rgb(40, 40, 40);
}

a{
    text-decoration: none;
    color: inherit;
}

header button, .boton-carrusel {
    border-radius: 30px;
    border: none;
    padding: 10px;
    background-color: rgb(250, 129, 0);
    color: white;
    font-size: 15px;
}

/* ---- MENÚ ----- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color:white;

    padding-left: 5%;
    padding-right: 5%;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 10px;
}

/* ---- CARRUSEL ---- */
.carrusel-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 5%;
}

.item-carrusel {
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.item-carrusel img {
    width: 80%;
    height: 80%;
}

.prev-button,.next-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 22px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
}

.prev-button {
    left: 5%;
}

.next-button {
    right: 5%;
}

.botones-carrusel {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 60px;
}

/* ---- SECCIÓN DE PELÍCULAS ---- */
section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;

    background-color: rgb(54, 54, 54);
    color: white;
}

.fila-carteles {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.cartel img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartel p {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0; 
    margin: 0;
}

.cartel {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.info {
    background-color: rgb(40,40,40);
    color: white;
    opacity: 0;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.pelicula {
    display: flex;    
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.pelicula:hover .info {
    opacity: 1;
    max-height: 520px;
}

/* ---- FOOTER ---- */
footer {
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    color: white;
    background-color: rgb(40, 40, 40);
}

#item-1 {
    text-align: left;
}

#item-1 i {
    font-size: 30px;
    padding: 10px;
}

#item-2 {
    text-align: right;
}

/* ---- PALETA DE COLORES ----
rgb(40, 40, 40) (gris oscuro)
rgb(54, 54, 54) (gris medio)
rgb(250, 129, 0) (naranja)
*/

@media screen and (max-width:610){
   
}